.app {
    text-align: center;
  }
  
  .app-header {
    background-color: #6a0572;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .app-link {
    color: #a951c4;
  }
  